ansible-compat == 24.*
molecule == 24.*
molecule-plugins[docker] == 23.*
ansible-lint == 24.*
paramiko == 3.*
# Pinning requests version due to [bug](https://github.com/docker/docker-py/issues/3113)
requests == 2.28.1
